Flask==2.2.5
matplotlib==3.5.3
importlib-matadata
itsdangerous
jinja2
markupsafe
setuptools
zipp
Werkzeug==2.2.3
torch==1.13.0+cpu
pycocotools==2.0.7
scipy
gunicorn
twilio
Pillow
wheel
opencv-python==4.8.1
libgl1
numpy==1.21.2
mmcv==2.1.0
mmcv-full==1.7.1
mmdet==2.28.2
mmengine==0.9.1
pip==22.3.1
requests==2.26.0 
yapf==0.40.1